.hw {
    width: 18rem;
    background-color: #f4f7f5;
}

.hw_img {
    height: 26vh;
    background-color: #f4f7f5;
}

.row1 {
    background-color: #f4f7f5;
}


#workDayPic:hover {
    content: url('https://media.giphy.com/media/hQW9Nq5uIqssFubgCX/giphy.gif');
}

#sushiLoverPic:hover {
    content: url('https://media.giphy.com/media/SU8qHfqp7zL67I1nnW/giphy.gif');
}

#passwordPic:hover {
    content: url('https://media.giphy.com/media/j32q28FDoKZNHHQoSt/giphy.gif')
}

#noteTakerPic:hover {
    content: url('https://media.giphy.com/media/UqSKAHTqSRMlx8ywwW/giphy.gif')
}

#employeeTrackerPic:hover {
    content: url(https://media.giphy.com/media/Y1Ac1jXxBcxPmvneBi/giphy.gif)
}