.headShot {
    max-width: 27vh;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0);
  }

.aM {
    background-color:white;
    /* background-image: url('https://images.unsplash.com/photo-1593826562629-79b6d8ff32a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
    background-image: cover; */
    margin-top: 0;
    padding-bottom: 1rem;
}

.row1 {
    background-color: white ;
    /* color: white; */
}

