.headShot {
    max-width: 27vh;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0);
  }

.aM {
    background-color:white;
    margin-top: 0;
    padding-bottom: 1rem;
}

.row1 {
    background-color: white ;

}

